.grab_bag_info_holder { background-color: #ffefdd; background-image: url("../../../image/user/grabbag/result_lose_bg.png"); background-size: cover; background-position-x: center;}

.grab_bag_title_img { height: 24px; }
